<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
  <style type="text/css">
      td{
         white-space: nowrap !important;
      }
      label{
        margin-bottom: -10px;
        font-weight: bold;
        font-size: 13px;
      }

      input[type="text"]:disabled {
       background: #dddddd;
      }

      .w_load_icon{
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url(/images/w_load.gif) no-repeat;
      }

      .w_load_body{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(233, 233, 232, 0.5);
      }

      #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }      


      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

/* Add animation to "page content" */
      .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
      }

      @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }

      @keyframes animatebottom { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
      }

  </style>
</head>
<body>
  <div class="container-fluid">
    <span class="text-uppercase page-subtitle">{%CaminhoPao%}</span>
    <div class="card mb-3">
      <div class="card-header">
        <span class="text-uppercase page-subtitle" style="font-size: 25px">Configuração</span>
      </div>  
      <div class="card-body">          
        <form>
          <div class="page-header row no-gutters py-2 mb-2 border-bottom">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
              <h3 class="page-title">Base Local</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span class="text-uppercase page-subtitle">teste</span>
              {%IWEditTeste%}
            </div>              
          </div>
          <div class="btn-group" style="margin-top: 10px">
            <button type="button" id="IWBUTTONTESTE" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Altera">Habilita</button>
          </div>
        </form>

      </div>
      <div class="card-footer">       
      </div>
    </div>
  </div>
  <div style="display: none;">{%IWEDITID%}{%IWEDITNOME%}{%IWBUTTONACAO%}{%IWEditLojaDominio1%}{%IWEDITTIPO%}</div>



  <script>
// botões
    $("#IWBUTTONTESTAAPI").on("click",function(){
      $("#loader").css("display","block");
      carregaAPI();
    })

    $("#IWBUTTONTESTE").on("click",function(){
    	alert("clicou");
//      document.getElementById('IWEDITID').value = '';
//      AddChangedControl('IWEDITID');   // colocar essa linha sempre que usar o onAsyncClick pois co
//      document.getElementById('IWEDITNOME').value = '';
//      AddChangedControl('IWEDITNOME');   // colocar essa linha sempre que usar o onAsyncClick ois       
      $("#IWBUTTONACAO").click();      
    })

    $("#IWBUTTONCONFIRMA").on("click",function(){
      var wvariacao = '0';
      var wimagem   = '0';
      var westoque  = '0';
      var wselecao  = '010';
      var wselecao2 = 'Loja';
      var wselecao3 = 'Todos';
      var wselecao4 = '01'
      var wselecao5 = '010';
      var wselecao6 = '010';
      var wselecao7 = '';
      var wtipofoto = 'PorProdutox';
      var wsaldo    = 'Empresa';
      var wmodelo   = '01';
      var wserie    = '';
      var wespecie  = 'NFe';
      var wenvioautomatico = '0';
	  var i,wcomp;
	  var wvendedor = '';

      if ($("#customToggle2").is(':checked')) { //envia produto variação
        wvariacao = '1';
      } else {
        wvariacao = '0';
      }
      if ($("#customToggle3").is(':checked')) { //envia produto imagem
        wimagem = '1';
      } else {
        wimagem = '0';
      }
      if ($("#customToggle4").is(':checked')) { //envia estoque
        westoque = '1';
      } else {
        westoque = '0';
      }
      if ($("#customToggle5").is(':checked')) { //envia estoque
        wconcatena = '1';
      } else {
        wconcatena = '0';
      }
      // select
      if ($("#valor1").is(':selected')) { 
         wselecao = '010';
      }
      if ($("#valor2").is(':selected')) { 
         wselecao = '025';
      }
      if ($("#valor3").is(':selected')) { 
         wselecao = '050';
      }
      if ($("#valor4").is(':selected')) { 
         wselecao = '100';
      }
      // select2
      if ($("#valorx1").is(':selected')) { 
         wselecao2 = 'Lojaxxxxxxxx';
      }
      if ($("#valorx2").is(':selected')) { 
         wselecao2 = 'Categoriaxxx';
      }
      if ($("#valorx3").is(':selected')) { 
         wselecao2 = 'Produtoxxxxx';
      }
      if ($("#valorx4").is(':selected')) { 
         wselecao2 = 'Clientexxxxx';
      }
      if ($("#valorx5").is(':selected')) { 
         wselecao2 = 'Pedidoxxxxxx';
      }
      if ($("#valorx6").is(':selected')) { 
         wselecao2 = 'Configuração';
      }
      // select3
      if ($("#valorz1").is(':selected')) { 
         wselecao3 = 'Todos';
      }
      if ($("#valorz2").is(':selected')) { 
         wselecao3 = 'Todos (exceto arquivados e cancelados)';
      }
      if ($("#valorz3").is(':selected')) { 
         wselecao3 = 'Em Aberto';
      }
      if ($("#valorz4").is(':selected')) { 
         wselecao3 = 'Arquivados';
      }
      if ($("#valorz5").is(':selected')) { 
         wselecao3 = 'Cancelados';
      }
      if ($("#valorz6").is(':selected')) { 
         wselecao3 = 'Importados';
      }
      // select4
      if ($("#valory1").is(':selected')) { 
         wselecao4 = '01';
      }
      if ($("#valory2").is(':selected')) { 
         wselecao4 = '02';
      }
      if ($("#valory3").is(':selected')) { 
         wselecao4 = '03';
      }
      if ($("#valory4").is(':selected')) { 
         wselecao4 = '04';
      }
      if ($("#valory5").is(':selected')) { 
         wselecao4 = '05';
      }
      if ($("#valory6").is(':selected')) { 
         wselecao4 = '06';
      }
      if ($("#valory7").is(':selected')) { 
         wselecao4 = '07';
      }
      if ($("#valory8").is(':selected')) { 
         wselecao4 = '08';
      }
      if ($("#valory9").is(':selected')) { 
         wselecao4 = '09';
      }
      if ($("#valory10").is(':selected')) { 
         wselecao4 = '10';
      }
      if ($("#valory11").is(':selected')) { 
         wselecao4 = '00';
      }
      // select7
      if ($("#valorw1").is(':selected')) { 
         wselecao7 = '01';
      }
      if ($("#valorw2").is(':selected')) { 
         wselecao7 = '02';
      }
      if ($("#valorw3").is(':selected')) { 
         wselecao7 = '03';
      }
      if ($("#valorw4").is(':selected')) { 
         wselecao7 = '04';
      }
      if ($("#valorw5").is(':selected')) { 
         wselecao7 = '05';
      }
      if ($("#valorw6").is(':selected')) { 
         wselecao7 = '06';
      }
      if ($("#valorw7").is(':selected')) { 
         wselecao7 = '07';
      }
      if ($("#valorw8").is(':selected')) { 
         wselecao7 = '08';
      }
      if ($("#valorw9").is(':selected')) { 
         wselecao7 = '09';
      }
      if ($("#valorw10").is(':selected')) { 
         wselecao7 = '10';
      }
      if ($("#valorw11").is(':selected')) { 
         wselecao7 = '00';
      }
      // select cliente
      if ($("#valors1").is(':selected')) { 
         wselecao5 = '010';
      }
      if ($("#valors2").is(':selected')) { 
         wselecao5 = '025';
      }
      if ($("#valors3").is(':selected')) { 
         wselecao5 = '050';
      }
      if ($("#valors4").is(':selected')) { 
         wselecao5 = '100';
      }
      // select pedidos
      if ($("#valort1").is(':selected')) { 
         wselecao6 = '010';
      }
      if ($("#valort2").is(':selected')) { 
         wselecao6 = '025';
      }
      if ($("#valort3").is(':selected')) { 
         wselecao6 = '050';
      }
      if ($("#valort4").is(':selected')) { 
         wselecao6 = '100';
      }
      // select7

      // select envio automático
      if ($("#valorautomatico1").is(':selected')) { 
         wenvioautomatico = '0';
      }
      if ($("#valorautomatico2").is(':selected')) { 
         wenvioautomatico = '1';
      }
      if ($("#valorautomatico3").is(':selected')) { 
         wenvioautomatico = '2';
      }
      if ($("#valorautomatico4").is(':selected')) { 
         wenvioautomatico = '3';
      }

      // select modelo
      if ($("#valormodelo1").is(':selected')) { 
         wmodelo = '01';
      }
      if ($("#valormodelo2").is(':selected')) { 
         wmodelo = '55';
      }
      if ($("#valormodelo3").is(':selected')) { 
         wmodelo = '65';
      }
      if ($("#valorfoto1").is(':selected')) {
      	wtipofoto = 'PorProdutox';
      }
      if ($("#valorfoto2").is(':selected')) {
      	wtipofoto = 'PorVariacao';
      }
      if ($("#valorsaldo1").is(':selected')) {
      	wsaldo = 'Empresa';
      }
      if ($("#valorsaldo2").is(':selected')) {
      	wsaldo = 'Geralxx';
      }
      // espécie
      for (i = 1; i <= $("#valorespecie1").val(); i++) {
   	      wcomp = "#valorespecie"+i;
          //alert(wcomp);
          if ($(wcomp).is(':selected')) { 
             wespecie = $(wcomp).text();
      	  }          
      }      
      // série
      for (i = 1; i <= $("#valorserie1").val(); i++) {
   	      wcomp = "#valorserie"+i;
          //alert(wcomp);
          if ($(wcomp).is(':selected')) { 
             wserie = $(wcomp).text();
      	  }          
      }      
      // vendedor
      for (i = 1; i <= $("#valorvendedor1").val(); i++) {
   	      wcomp = "#valorvendedor"+i;
          //alert(wcomp);
          if ($(wcomp).is(':selected')) { 
             wvendedor = $(wcomp).text();
      	  }          
      }      
 //     alert($("#valorserie1").val());
    
      $("#IWBUTTONALTERA").attr("disabled",false);
      $("#IWBUTTONCONFIRMA").attr("disabled",true);
      $("#IWBUTTONCANCELA").attr("disabled",true);
      $("#selectproduto").attr("disabled",true);
      $("#selectpagina").attr("disabled",true);
      $("#selectcliente").attr("disabled",true);
      $("#selectpedido").attr("disabled",true);
      $("#selectstatus").attr("disabled",true);
      $("#selectpreco").attr("disabled",true);
      $("#selectprecosite").attr("disabled",true);
      $("#selectmodelo").attr("disabled",true);
      $("#selectserie").attr("disabled",true);
      $("#selectespecie").attr("disabled",true);
      $("#selectvendedor").attr("disabled",true);
      $("#selectsaldo").attr("disabled",true);
      $("#selectenviofoto").attr("disabled",true);
      $("#selectenvioautomatico").attr("disabled",true);

      document.getElementById('IWEDITID').value = wvariacao+wimagem+westoque+wconcatena;
      AddChangedControl('IWEDITID');   // colocar essa linha sempre que usar o onAsyncClick pois co
      document.getElementById('IWEDITNOME').value = '[Confirma]'+wselecao+wselecao4+wselecao7+wselecao2+wselecao5+wselecao6+wtipofoto+wsaldo+wmodelo+wespecie+wserie+wvendedor+wenvioautomatico+wselecao3;
      AddChangedControl('IWEDITNOME');   // colocar essa linha sempre que usar o onAsyncClick ois       
      $("#IWBUTTONACAO").click();      

    })

    $("#IWBUTTONCANCELA").on("click",function(){
      $("#IWBUTTONALTERA").attr("disabled",false);
      $("#IWBUTTONCONFIRMA").attr("disabled",true);
      $("#IWBUTTONCANCELA").attr("disabled",true);
      $("#selectproduto").attr("disabled",true);      
      $("#selectpagina").attr("disabled",true);      
      $("#selectstatus").attr("disabled",true);      
      $("#selectpreco").attr("disabled",true);      
      $("#selectprecosite").attr("disabled",true);      
      $("#selectcliente").attr("disabled",true);      
      $("#selectpedido").attr("disabled",true);      
      $("#selectmodelo").attr("disabled",true);
      $("#selectserie").attr("disabled",true);
      $("#selectespecie").attr("disabled",true);
      $("#selectvendedor").attr("disabled",true);
      $("#selectsaldo").attr("disabled",true);
      $("#selectenviofoto").attr("disabled",true);
      $("#selectenvioautomatico").attr("disabled",true);
    })

    function carregaAPI() {
//      $.ajax({dataType: "json",
//              url: "https://api.tiendanube.com/v1/1033354/store",
//			  headers: {"Authentication":"bearer 41b3b800fcaf4846c49dfee652c14454ace75d0a", 
//			            "User-Agent":"sergio@trabin.com.br", 
//			            "Content-Type":"application/json"},              
//              error: function(){alert('Erro ao carregar API');},
//              success: function(e){
//                          const myObjStr = JSON.stringify(e);
//                          alert(myObjStr);
//            });
    }
  </script>
    


</body>
</html>
